@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
}

.text {
  font-family: 'Neucha', cursive;
  font-size: 1.5rem;
  height: 200px;
  overflow-y: scroll;
}

input {
  font-family: 'Neucha', cursive;
  font-size: 2rem !important;
}

.btn {
  font-size: 2rem;
}
